/* таблица */
.sort{
border-spacing:0.1em;
margin-bottom:1em;
margin-top:1em;
background-color:#888888;
}

/* €чейки таблицы */
.sort td{
border:1px solid #000000;
background-color:#dddddd;
padding:0.3em 1em;
}


/* заголовки таблицы */
.sort thead{
cursor:pointer;
cursor:hand;
font-weight:bold;
text-align:center;
color:#000000;
border:1px solid #000000;
vertical-align:middle
}

/* заголовок отсортированного столбца */
.sort thead td.curcol{
background-color:#008000;
color:#FFFFFF
}

/* таблица */
.firstline{
border-spacing:1em;
margin-bottom:1em;
margin-top:1em;
margin-left:10em;
margin-right:10em;
}